USE [BASE3]
GO
/****** Object:  StoredProcedure [dbo].[TITULO_INSERTAR]    Script Date: 21/10/2025 0:48:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[TITULO_INSERTAR] --crear procedimiento almacenado llamado "TITULO_INSERTAR"
@titulo varchar(50) --parametros que va a recibir mi procedimiento
as
BEGIN
	--declaro la variable @id con la palabra reservada "declare"
	declare @id int
	--para asignarle un valor a mi variable se usa la palabra reservada "set"
	set @id = (select isnull(max(id), 0) + 1 from titulo)

	--existe un elemento en la base?
	declare @existe int
	set @existe = (select count(*) from TITULO where DESCRIPCION = @titulo)

	if @existe = 0
	BEGIN
		INSERT INTO TITULO (ID, DESCRIPCION) VALUES (@id, @titulo)
	END
END