USE [master]
GO
/****** Object:  Database [BDPERMISO]    Script Date: 9/10/2024 22:15:14 ******/
CREATE DATABASE [BDPERMISO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDPERMISO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BDPERMISO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BDPERMISO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BDPERMISO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDPERMISO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDPERMISO]
GO
/****** Object:  Table [dbo].[GRUPO]    Script Date: 9/10/2024 22:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRUPO](
	[ID_GRUPO] [int] NOT NULL,
	[ID_HIJO] [int] NOT NULL,
 CONSTRAINT [PK_GRUPO] PRIMARY KEY CLUSTERED 
(
	[ID_GRUPO] ASC,
	[ID_HIJO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERMISO]    Script Date: 9/10/2024 22:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERMISO](
	[ID_PERMISO] [int] NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PERMISO] PRIMARY KEY CLUSTERED 
(
	[ID_PERMISO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USU_PER]    Script Date: 9/10/2024 22:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USU_PER](
	[ID_USUARIO] [int] NOT NULL,
	[ID_PERMISO] [int] NOT NULL,
 CONSTRAINT [PK_USU_PER] PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC,
	[ID_PERMISO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 9/10/2024 22:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID_USUARIO] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[GRUPO] ([ID_GRUPO], [ID_HIJO]) VALUES (100, 1)
INSERT [dbo].[GRUPO] ([ID_GRUPO], [ID_HIJO]) VALUES (100, 3)
INSERT [dbo].[GRUPO] ([ID_GRUPO], [ID_HIJO]) VALUES (101, 4)
GO
INSERT [dbo].[PERMISO] ([ID_PERMISO], [NOMBRE]) VALUES (1, N'CONSULTA PERFIL')
INSERT [dbo].[PERMISO] ([ID_PERMISO], [NOMBRE]) VALUES (2, N'CONSULTA CLIENTE')
INSERT [dbo].[PERMISO] ([ID_PERMISO], [NOMBRE]) VALUES (3, N'CONSULTA PRODUCTO')
GO
INSERT [dbo].[USU_PER] ([ID_USUARIO], [ID_PERMISO]) VALUES (1, 7)
INSERT [dbo].[USU_PER] ([ID_USUARIO], [ID_PERMISO]) VALUES (1, 101)
GO
ALTER TABLE [dbo].[GRUPO]  WITH CHECK ADD  CONSTRAINT [FK_GRUPO_PERMISO] FOREIGN KEY([ID_GRUPO])
REFERENCES [dbo].[PERMISO] ([ID_PERMISO])
GO
ALTER TABLE [dbo].[GRUPO] CHECK CONSTRAINT [FK_GRUPO_PERMISO]
GO
ALTER TABLE [dbo].[GRUPO]  WITH CHECK ADD  CONSTRAINT [FK_GRUPO_PERMISO1] FOREIGN KEY([ID_HIJO])
REFERENCES [dbo].[PERMISO] ([ID_PERMISO])
GO
ALTER TABLE [dbo].[GRUPO] CHECK CONSTRAINT [FK_GRUPO_PERMISO1]
GO
/****** Object:  StoredProcedure [dbo].[DEVOLVER_PERMISOS]    Script Date: 9/10/2024 22:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DEVOLVER_PERMISOS]
as
BEGIN


select p.id_permiso, p.NOMBRE, 
		'GRUPO' = case when g.ID_GRUPO is null then
			'NO'
			else
			'SI'
			END,
		'ID_HIJO'=ph.ID_PERMISO,
		'HIJO'= ph.NOMBRE
from PERMISO p
Left join GRUPO g on g.ID_GRUPO = p.ID_PERMISO
LEFT JOIN PERMISO ph on g.ID_HIJO = ph.ID_PERMISO
END
GO
/****** Object:  StoredProcedure [dbo].[DEVOLVER_PERMISOS_USUARIO]    Script Date: 9/10/2024 22:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DEVOLVER_PERMISOS_USUARIO]
@ID int
as
BEGIN


select p.id_permiso, p.NOMBRE
	
from PERMISO p
join USU_PER up on up.ID_PERMISO =p.ID_PERMISO and up.ID_USUARIO = @id
END
GO
USE [master]
GO
