USE [master]
GO
/****** Object:  Database [COMPOSITE]    Script Date: 15/10/2025 21:15:35 ******/
CREATE DATABASE [COMPOSITE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'COMPOSITE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\COMPOSITE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'COMPOSITE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\COMPOSITE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [COMPOSITE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [COMPOSITE]
GO
/****** Object:  Table [dbo].[GRUPO]    Script Date: 15/10/2025 21:15:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRUPO](
	[IDGRUPO] [int] NOT NULL,
	[IDPERMISO] [int] NOT NULL,
 CONSTRAINT [PK_GRUPO] PRIMARY KEY CLUSTERED 
(
	[IDGRUPO] ASC,
	[IDPERMISO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERMISO]    Script Date: 15/10/2025 21:15:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERMISO](
	[ID] [int] NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PERMISO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 15/10/2025 21:15:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID_U] [int] NOT NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID_U] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GRUPO]  WITH CHECK ADD  CONSTRAINT [FK_GRUPO_PERMISO] FOREIGN KEY([IDGRUPO])
REFERENCES [dbo].[PERMISO] ([ID])
GO
ALTER TABLE [dbo].[GRUPO] CHECK CONSTRAINT [FK_GRUPO_PERMISO]
GO
ALTER TABLE [dbo].[GRUPO]  WITH CHECK ADD  CONSTRAINT [FK_GRUPO_PERMISO1] FOREIGN KEY([IDPERMISO])
REFERENCES [dbo].[PERMISO] ([ID])
GO
ALTER TABLE [dbo].[GRUPO] CHECK CONSTRAINT [FK_GRUPO_PERMISO1]
GO
/****** Object:  StoredProcedure [dbo].[Grupos_listar]    Script Date: 15/10/2025 21:15:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Grupos_listar]
as 
begin 
select * from grupo
end
GO
/****** Object:  StoredProcedure [dbo].[listar_permisos]    Script Date: 15/10/2025 21:15:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[listar_permisos]
as
begin
SELECT distinct p.id, p.NOMBRE,
'GRUPO' = case when g.IDGRUPO is null then 'NO' else 'SI' end
FROM PERMISO p
left join grupo g on p.ID = g.IDGRUPO
end
GO
USE [master]
GO
